<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pair}} Report</title>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    html {
      --color-background: #0d0d0d;
      --color-background: #0d0d0d;
      --color-border: #151515;
      --color-green: #068b00;
      --color-purple: #970084;
      --page-width: 70rem;
      background-color: black;
    }

    body {
      color: white;
      font-family: sans-serif;
    }

    .title {
      text-align: center;
      color: var(--color-purple);
      margin-top: 1rem;
    }

    .container {
      background-color: var(--color-background);
      border: 1rem solid var(--color-border);
      border-radius: 1rem;
      width: var(--page-width);
      padding: 1rem;
      margin: 1rem auto;
      display: flex;
      justify-content: space-between;
    }

    .column span {
      color: var(--color-green);
    }

    .column p {
      margin: 2px;
    }

    table {
      background-color: var(--color-background);
      border: 1rem solid var(--color-border);
      border-radius: 1rem;
      margin: 0 auto;
      width: var(--page-width);
      /* border-collapse: collapse; */
    }

    thead {
      color: var(--color-purple);
    }

    td, th {
      text-align: center;
      padding: 5px;
      border: 1px solid white
    }

    #chart {
      color: black;
    }
  </style>
</head>
<body>
  <h2 class="title">Report for {{pair}} from {{start_date}} to {{end_date}}</h2>
  <div class="container">
    <div class="column">
      <p>number of all positions: <span>{{total_num}}</span></p>
      <p>number of won positions: <span>{{won_num}}</span></p>
      <p>number of lost positions: <span>{{lost_num}}</span></p>
      <p>total profit made: <span>{{total_won_value}}</span></p>
      <p>total loss made: <span>{{total_lost_value}}</span></p>
      <p>net profit: <span>{{net_profit}}</span></p>
    </div>
    <div class="column">
      <p>average won per position: <span>{{avg_won_value}}</span></p>
      <p>average lost per position: <span>{{avg_lost_value}}</span></p>
      <p>average made per position: <span>{{avg_any_value}}</span></p>
      <p>winning ratio: <span>{{winning_ratio}}%</span></p>
      <p>profit per loss: <span>{{profit_per_loss}}</span></p>
      <p>profit factor: <span>{{profit_factor}}</span></p>
    </div>
    <div class="column">
      <p>maximum won: <span>{{max_won}}</span></p>
      <p>maximum lost: <span>{{max_lost}}</span></p>
      <p>number of short positions: <span>{{short_num}}</span></p>
      <p>number of long positions: <span>{{long_num}}</span></p>
      <p>long winning ratio: <span>{{long_winning_ratio}}%</span></p>
      <p>short winning ratio: <span>{{short_winning_ratio}}%</span></p>
    </div>
  </div>

  <div id="chart" class="container"></div>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>side</th>
        <th>quantity</th>
        <th>entry price</th>
        <th>exit price</th>
        <th>pnl</th>
        <th>opened at</th>
      </tr>
    </thead>
    <tbody>
      {% for pos in positions  %}
        <tr>
          <td>{{pos['num']}}</td>
          <td>{{pos['side']}}</td>
          <td>{{pos['quantity']}}</td>
          <td>{{pos['entry_price']}}</td>
          <td>{{pos['exit_price']}}</td>
          <td>{{pos['pnl']}}</td>
          <td>{{pos['created_at']}}</td>
        </tr>
      {% endfor  %}
    </tbody>
  </table>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>
    const length = {{total_num}};
    const data = {{balance_list}}
    const categories = data.map((cur, idx) => idx + 1);

    const options = {
      chart: {
        type: 'line',
        height: '300px'
      },
      series: [{
        name: 'positions',
        data: data
      }],
      xaxis: {
        categories: categories,
        labels: {style: {colors: ['#ffffff'], fontSize: '16px'}}
      },
      yaxis: {
        labels: {style: {colors: ['#ffffff'], fontSize: '16px'}}
      },
      colors: ['#068b00'],
      grid: {
        xaxis: {lines: {show: true}},
      }
    };

    const chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
  </script>
</body>
</html>
